.site-header{
	position: fixed;
    z-index: 999999999;
	width: 100%;
	.main-navigation{
		background-color: rgba(32,32,32,.75);
	}
	.logo img{
		max-height: 72px;
		object-fit: contain;
		width: auto;
	}

	li{
		margin-bottom: 0 !important;
	}
}

#masthead{
	background-color: transparent;
}

.main-navigation ul li.current-menu-item>a, .main-navigation ul li.current_page_item>a{
	background-color: transparent !important;
	&:hover{
		background-color: $primary-blue !important;
	}
}
